In [48]:
import pandas as pd

data_jett = pd.read_clipboard()

# Menampilkan data
print(data_jett)

        NAMA GENDER  ANGKATAN  TINGGI BADAN  WAKTU PERJALANAN TEMPAT TINGGAL
0        JET      L      2023           175                50      TANGERANG
1      FELIX      L      2023           155                99         JAKBAR
2       DEWA      L      2023           160                88         JAKSEL
3       UCOK      L      2023           156                54         BEKASI
4      PUPUT      P      2020           167                70        TANGSEL
5     MIYASA      P      2021           166                20        TANGSEL
6    TUKIYEM      P      2019           170                54        TANGSEL
7     MARBOT      L      2022           169                20         BEKASI
8       JAKA      L      2022           189                30         BEKASI
9      KIWIL      L      2021           170                33      TANGERANG
10  MAESAROH      P      2021           158                15      TANGERANG
11      SARI      P      2020           160                50         JAKBAR
12     PURBA      L      2023           172                89         JAKBAR
13      JEKI      L      2021           160                60         JAKSEL
14      IWAN      L      2023           178                54         JAKSEL
15      HERI      L      2023           176                40        TANGSEL
16     JAWAN      L      2019           180                60        TANGSEL
17       SRI      P      2018           161                30         BEKASI
18     DOENG      L      2020           190                22         JAKBAR
19     MKIYA      P      2018           166                50      TANGERANG
20      IMAM      L      2020           170                60         JAKSEL
21      SILA      P      2020           160                25         JAKBAR
22     SINTA      P      2021           164                50        TANGSEL
23     UJANG      L      2021           174                40        TANGSEL
24     DEMAS      L      2023           170                60         JAKBAR
25     FADIL      L      2023           168                50      TANGERANG
26      DAPA      L      2023           160                39         JAKBAR
27     RIFQI      L      2023           170                50         JAKSEL
28    ANDREW      L      2023           170                40         JAKBAR
29     QUSOY      L      2023           177                66         BEKASI

In [46]:
import pandas as pd

df = pd.read_csv("Downloads/data_jett.csv")
df

        NAMA GENDER  ANGKATAN  TINGGI BADAN  WAKTU PERJALANAN TEMPAT TINGGAL
0        JET      L      2023           175                50      TANGERANG
1      FELIX      L      2023           155                99         JAKBAR
2       DEWA      L      2023           160                88         JAKSEL
3       UCOK      L      2023           156                54         BEKASI
4      PUPUT      P      2020           167                70        TANGSEL
5     MIYASA      P      2021           166                20        TANGSEL
6    TUKIYEM      P      2019           170                54        TANGSEL
7     MARBOT      L      2022           169                20         BEKASI
8       JAKA      L      2022           189                30         BEKASI
9      KIWIL      L      2021           170                33      TANGERANG
10  MAESAROH      P      2021           158                15      TANGERANG
11      SARI      P      2020           160                50         JAKBAR
12     PURBA      L      2023           172                89         JAKBAR
13      JEKI      L      2021           160                60         JAKSEL
14      IWAN      L      2023           178                54         JAKSEL
15      HERI      L      2023           176                40        TANGSEL
16     JAWAN      L      2019           180                60        TANGSEL
17       SRI      P      2018           161                30         BEKASI
18     DOENG      L      2020           190                22         JAKBAR
19     MKIYA      P      2018           166                50      TANGERANG
20      IMAM      L      2020           170                60         JAKSEL
21      SILA      P      2020           160                25         JAKBAR
22     SINTA      P      2021           164                50        TANGSEL
23     UJANG      L      2021           174                40        TANGSEL
24     DEMAS      L      2023           170                60         JAKBAR
25     FADIL      L      2023           168                50      TANGERANG
26      DAPA      L      2023           160                39         JAKBAR
27     RIFQI      L      2023           170                50         JAKSEL
28    ANDREW      L      2023           170                40         JAKBAR
29     QUSOY      L      2023           177                66         BEKASI

In [49]:
jett = data_jett

print(jett)

        NAMA GENDER  ANGKATAN  TINGGI BADAN  WAKTU PERJALANAN TEMPAT TINGGAL
0        JET      L      2023           175                50      TANGERANG
1      FELIX      L      2023           155                99         JAKBAR
2       DEWA      L      2023           160                88         JAKSEL
3       UCOK      L      2023           156                54         BEKASI
4      PUPUT      P      2020           167                70        TANGSEL
5     MIYASA      P      2021           166                20        TANGSEL
6    TUKIYEM      P      2019           170                54        TANGSEL
7     MARBOT      L      2022           169                20         BEKASI
8       JAKA      L      2022           189                30         BEKASI
9      KIWIL      L      2021           170                33      TANGERANG
10  MAESAROH      P      2021           158                15      TANGERANG
11      SARI      P      2020           160                50         JAKBAR
12     PURBA      L      2023           172                89         JAKBAR
13      JEKI      L      2021           160                60         JAKSEL
14      IWAN      L      2023           178                54         JAKSEL
15      HERI      L      2023           176                40        TANGSEL
16     JAWAN      L      2019           180                60        TANGSEL
17       SRI      P      2018           161                30         BEKASI
18     DOENG      L      2020           190                22         JAKBAR
19     MKIYA      P      2018           166                50      TANGERANG
20      IMAM      L      2020           170                60         JAKSEL
21      SILA      P      2020           160                25         JAKBAR
22     SINTA      P      2021           164                50        TANGSEL
23     UJANG      L      2021           174                40        TANGSEL
24     DEMAS      L      2023           170                60         JAKBAR
25     FADIL      L      2023           168                50      TANGERANG
26      DAPA      L      2023           160                39         JAKBAR
27     RIFQI      L      2023           170                50         JAKSEL
28    ANDREW      L      2023           170                40         JAKBAR
29     QUSOY      L      2023           177                66         BEKASI

In [50]:
kolom4 = data_jett.iloc[:, 3:4]

# Menampilkan DataFrame kolom4
print(kolom4)

    TINGGI BADAN
0            175
1            155
2            160
3            156
4            167
5            166
6            170
7            169
8            189
9            170
10           158
11           160
12           172
13           160
14           178
15           176
16           180
17           161
18           190
19           166
20           170
21           160
22           164
23           174
24           170
25           168
26           160
27           170
28           170
29           177

In [51]:
jett['TINGGI BADAN'] = pd.to_numeric(jett['TINGGI BADAN'])

import numpy as np

jett['TINGGI BADAN'] = jett['TINGGI BADAN'].apply(lambda x: 'tinggi' if x > 160 else 'pendek')

# Menampilkan DataFrame setelah modifikasi
print(jett)

        NAMA GENDER  ANGKATAN TINGGI BADAN  WAKTU PERJALANAN TEMPAT TINGGAL
0        JET      L      2023       tinggi                50      TANGERANG
1      FELIX      L      2023       pendek                99         JAKBAR
2       DEWA      L      2023       pendek                88         JAKSEL
3       UCOK      L      2023       pendek                54         BEKASI
4      PUPUT      P      2020       tinggi                70        TANGSEL
5     MIYASA      P      2021       tinggi                20        TANGSEL
6    TUKIYEM      P      2019       tinggi                54        TANGSEL
7     MARBOT      L      2022       tinggi                20         BEKASI
8       JAKA      L      2022       tinggi                30         BEKASI
9      KIWIL      L      2021       tinggi                33      TANGERANG
10  MAESAROH      P      2021       pendek                15      TANGERANG
11      SARI      P      2020       pendek                50         JAKBAR
12     PURBA      L      2023       tinggi                89         JAKBAR
13      JEKI      L      2021       pendek                60         JAKSEL
14      IWAN      L      2023       tinggi                54         JAKSEL
15      HERI      L      2023       tinggi                40        TANGSEL
16     JAWAN      L      2019       tinggi                60        TANGSEL
17       SRI      P      2018       tinggi                30         BEKASI
18     DOENG      L      2020       tinggi                22         JAKBAR
19     MKIYA      P      2018       tinggi                50      TANGERANG
20      IMAM      L      2020       tinggi                60         JAKSEL
21      SILA      P      2020       pendek                25         JAKBAR
22     SINTA      P      2021       tinggi                50        TANGSEL
23     UJANG      L      2021       tinggi                40        TANGSEL
24     DEMAS      L      2023       tinggi                60         JAKBAR
25     FADIL      L      2023       tinggi                50      TANGERANG
26      DAPA      L      2023       pendek                39         JAKBAR
27     RIFQI      L      2023       tinggi                50         JAKSEL
28    ANDREW      L      2023       tinggi                40         JAKBAR
29     QUSOY      L      2023       tinggi                66         BEKASI

In [64]:
jett = data_jett

jett = pd.DataFrame(jett)

# Menambahkan kolom baru 'Jurusan' dengan nilai 'Infor20'
jett['Jurusan'] = 'Infor20'

# Menambahkan kolom baru 'Fakultas' dengan nilai 'FTI'
jett['Fakultas'] = 'FTI'

print(jett)

        NAMA GENDER  ANGKATAN TINGGI BADAN  WAKTU PERJALANAN TEMPAT TINGGAL  \
0        JET      L      2023       tinggi                50      TANGERANG
1      FELIX      L      2023       pendek                99         JAKBAR
2       DEWA      L      2023       pendek                88         JAKSEL
3       UCOK      L      2023       pendek                54         BEKASI
4      PUPUT      P      2020       tinggi                70        TANGSEL
5     MIYASA      P      2021       tinggi                20        TANGSEL
6    TUKIYEM      P      2019       tinggi                54        TANGSEL
7     MARBOT      L      2022       tinggi                20         BEKASI
8       JAKA      L      2022       tinggi                30         BEKASI
9      KIWIL      L      2021       tinggi                33      TANGERANG
10  MAESAROH      P      2021       pendek                15      TANGERANG
11      SARI      P      2020       pendek                50         JAKBAR
12     PURBA      L      2023       tinggi                89         JAKBAR
13      JEKI      L      2021       pendek                60         JAKSEL
14      IWAN      L      2023       tinggi                54         JAKSEL
15      HERI      L      2023       tinggi                40        TANGSEL
16     JAWAN      L      2019       tinggi                60        TANGSEL
17       SRI      P      2018       tinggi                30         BEKASI
18     DOENG      L      2020       tinggi                22         JAKBAR
19     MKIYA      P      2018       tinggi                50      TANGERANG
20      IMAM      L      2020       tinggi                60         JAKSEL
21      SILA      P      2020       pendek                25         JAKBAR
22     SINTA      P      2021       tinggi                50        TANGSEL
23     UJANG      L      2021       tinggi                40        TANGSEL
24     DEMAS      L      2023       tinggi                60         JAKBAR
25     FADIL      L      2023       tinggi                50      TANGERANG
26      DAPA      L      2023       pendek                39         JAKBAR
27     RIFQI      L      2023       tinggi                50         JAKSEL
28    ANDREW      L      2023       tinggi                40         JAKBAR
29     QUSOY      L      2023       tinggi                66         BEKASI

    Jurusan Fakultas
0   Infor20      FTI
1   Infor20      FTI
2   Infor20      FTI
3   Infor20      FTI
4   Infor20      FTI
5   Infor20      FTI
6   Infor20      FTI
7   Infor20      FTI
8   Infor20      FTI
9   Infor20      FTI
10  Infor20      FTI
11  Infor20      FTI
12  Infor20      FTI
13  Infor20      FTI
14  Infor20      FTI
15  Infor20      FTI
16  Infor20      FTI
17  Infor20      FTI
18  Infor20      FTI
19  Infor20      FTI
20  Infor20      FTI
21  Infor20      FTI
22  Infor20      FTI
23  Infor20      FTI
24  Infor20      FTI
25  Infor20      FTI
26  Infor20      FTI
27  Infor20      FTI
28  Infor20      FTI
29  Infor20      FTI

In [53]:
jett = jett.drop(columns=['Fakultas'])

# Menampilkan DataFrame 'jett' 
print(jett)

        NAMA GENDER  ANGKATAN TINGGI BADAN  WAKTU PERJALANAN TEMPAT TINGGAL  \
0        JET      L      2023       tinggi                50      TANGERANG
1      FELIX      L      2023       pendek                99         JAKBAR
2       DEWA      L      2023       pendek                88         JAKSEL
3       UCOK      L      2023       pendek                54         BEKASI
4      PUPUT      P      2020       tinggi                70        TANGSEL
5     MIYASA      P      2021       tinggi                20        TANGSEL
6    TUKIYEM      P      2019       tinggi                54        TANGSEL
7     MARBOT      L      2022       tinggi                20         BEKASI
8       JAKA      L      2022       tinggi                30         BEKASI
9      KIWIL      L      2021       tinggi                33      TANGERANG
10  MAESAROH      P      2021       pendek                15      TANGERANG
11      SARI      P      2020       pendek                50         JAKBAR
12     PURBA      L      2023       tinggi                89         JAKBAR
13      JEKI      L      2021       pendek                60         JAKSEL
14      IWAN      L      2023       tinggi                54         JAKSEL
15      HERI      L      2023       tinggi                40        TANGSEL
16     JAWAN      L      2019       tinggi                60        TANGSEL
17       SRI      P      2018       tinggi                30         BEKASI
18     DOENG      L      2020       tinggi                22         JAKBAR
19     MKIYA      P      2018       tinggi                50      TANGERANG
20      IMAM      L      2020       tinggi                60         JAKSEL
21      SILA      P      2020       pendek                25         JAKBAR
22     SINTA      P      2021       tinggi                50        TANGSEL
23     UJANG      L      2021       tinggi                40        TANGSEL
24     DEMAS      L      2023       tinggi                60         JAKBAR
25     FADIL      L      2023       tinggi                50      TANGERANG
26      DAPA      L      2023       pendek                39         JAKBAR
27     RIFQI      L      2023       tinggi                50         JAKSEL
28    ANDREW      L      2023       tinggi                40         JAKBAR
29     QUSOY      L      2023       tinggi                66         BEKASI

    Jurusan
0   Infor20
1   Infor20
2   Infor20
3   Infor20
4   Infor20
5   Infor20
6   Infor20
7   Infor20
8   Infor20
9   Infor20
10  Infor20
11  Infor20
12  Infor20
13  Infor20
14  Infor20
15  Infor20
16  Infor20
17  Infor20
18  Infor20
19  Infor20
20  Infor20
21  Infor20
22  Infor20
23  Infor20
24  Infor20
25  Infor20
26  Infor20
27  Infor20
28  Infor20
29  Infor20

In [65]:
kolom1dan2 = data_jett.iloc[:, 0:2]
kolom3dan4 = data_jett.iloc[:, 2:4]

# Menampilkan DataFrame kolom1dan2
print(kolom1dan2)

print(kolom3dan4)

        NAMA GENDER
0        JET      L
1      FELIX      L
2       DEWA      L
3       UCOK      L
4      PUPUT      P
5     MIYASA      P
6    TUKIYEM      P
7     MARBOT      L
8       JAKA      L
9      KIWIL      L
10  MAESAROH      P
11      SARI      P
12     PURBA      L
13      JEKI      L
14      IWAN      L
15      HERI      L
16     JAWAN      L
17       SRI      P
18     DOENG      L
19     MKIYA      P
20      IMAM      L
21      SILA      P
22     SINTA      P
23     UJANG      L
24     DEMAS      L
25     FADIL      L
26      DAPA      L
27     RIFQI      L
28    ANDREW      L
29     QUSOY      L
    ANGKATAN TINGGI BADAN
0       2023       tinggi
1       2023       pendek
2       2023       pendek
3       2023       pendek
4       2020       tinggi
5       2021       tinggi
6       2019       tinggi
7       2022       tinggi
8       2022       tinggi
9       2021       tinggi
10      2021       pendek
11      2020       pendek
12      2023       tinggi
13      2021       pendek
14      2023       tinggi
15      2023       tinggi
16      2019       tinggi
17      2018       tinggi
18      2020       tinggi
19      2018       tinggi
20      2020       tinggi
21      2020       pendek
22      2021       tinggi
23      2021       tinggi
24      2023       tinggi
25      2023       tinggi
26      2023       pendek
27      2023       tinggi
28      2023       tinggi
29      2023       tinggi

In [66]:
# Menggabungkan dua DataFrame 
kolom1sd4 = pd.concat([kolom1dan2, kolom3dan4], axis=1)

# Menampilkan DataFrame kolom1sd4
print(kolom1sd4)

        NAMA GENDER  ANGKATAN TINGGI BADAN
0        JET      L      2023       tinggi
1      FELIX      L      2023       pendek
2       DEWA      L      2023       pendek
3       UCOK      L      2023       pendek
4      PUPUT      P      2020       tinggi
5     MIYASA      P      2021       tinggi
6    TUKIYEM      P      2019       tinggi
7     MARBOT      L      2022       tinggi
8       JAKA      L      2022       tinggi
9      KIWIL      L      2021       tinggi
10  MAESAROH      P      2021       pendek
11      SARI      P      2020       pendek
12     PURBA      L      2023       tinggi
13      JEKI      L      2021       pendek
14      IWAN      L      2023       tinggi
15      HERI      L      2023       tinggi
16     JAWAN      L      2019       tinggi
17       SRI      P      2018       tinggi
18     DOENG      L      2020       tinggi
19     MKIYA      P      2018       tinggi
20      IMAM      L      2020       tinggi
21      SILA      P      2020       pendek
22     SINTA      P      2021       tinggi
23     UJANG      L      2021       tinggi
24     DEMAS      L      2023       tinggi
25     FADIL      L      2023       tinggi
26      DAPA      L      2023       pendek
27     RIFQI      L      2023       tinggi
28    ANDREW      L      2023       tinggi
29     QUSOY      L      2023       tinggi

In [69]:
# Menggabungkan baris dari dua DataFrame
baris1sd5 = data_jett.iloc[0:5, :]
baris25sd30 = data_jett.iloc[24:30, :]
baris1sd30 = pd.concat([baris1sd5, baris25sd30])

# Menampilkan DataFrame baris1sd30
print(baris1sd30)

      NAMA GENDER  ANGKATAN TINGGI BADAN  WAKTU PERJALANAN TEMPAT TINGGAL  \
0      JET      L      2023       tinggi                50      TANGERANG
1    FELIX      L      2023       pendek                99         JAKBAR
2     DEWA      L      2023       pendek                88         JAKSEL
3     UCOK      L      2023       pendek                54         BEKASI
4    PUPUT      P      2020       tinggi                70        TANGSEL
24   DEMAS      L      2023       tinggi                60         JAKBAR
25   FADIL      L      2023       tinggi                50      TANGERANG
26    DAPA      L      2023       pendek                39         JAKBAR
27   RIFQI      L      2023       tinggi                50         JAKSEL
28  ANDREW      L      2023       tinggi                40         JAKBAR
29   QUSOY      L      2023       tinggi                66         BEKASI

    Jurusan Fakultas
0   Infor20      FTI
1   Infor20      FTI
2   Infor20      FTI
3   Infor20      FTI
4   Infor20      FTI
24  Infor20      FTI
25  Infor20      FTI
26  Infor20      FTI
27  Infor20      FTI
28  Infor20      FTI
29  Infor20      FTI

In [70]:
data_jett_sort = data_jett.sort_values(by='WAKTU PERJALANAN')

print(data_jett_sort)

        NAMA GENDER  ANGKATAN TINGGI BADAN  WAKTU PERJALANAN TEMPAT TINGGAL  \
10  MAESAROH      P      2021       pendek                15      TANGERANG
7     MARBOT      L      2022       tinggi                20         BEKASI
5     MIYASA      P      2021       tinggi                20        TANGSEL
18     DOENG      L      2020       tinggi                22         JAKBAR
21      SILA      P      2020       pendek                25         JAKBAR
8       JAKA      L      2022       tinggi                30         BEKASI
17       SRI      P      2018       tinggi                30         BEKASI
9      KIWIL      L      2021       tinggi                33      TANGERANG
26      DAPA      L      2023       pendek                39         JAKBAR
23     UJANG      L      2021       tinggi                40        TANGSEL
28    ANDREW      L      2023       tinggi                40         JAKBAR
15      HERI      L      2023       tinggi                40        TANGSEL
25     FADIL      L      2023       tinggi                50      TANGERANG
11      SARI      P      2020       pendek                50         JAKBAR
27     RIFQI      L      2023       tinggi                50         JAKSEL
19     MKIYA      P      2018       tinggi                50      TANGERANG
22     SINTA      P      2021       tinggi                50        TANGSEL
0        JET      L      2023       tinggi                50      TANGERANG
14      IWAN      L      2023       tinggi                54         JAKSEL
6    TUKIYEM      P      2019       tinggi                54        TANGSEL
3       UCOK      L      2023       pendek                54         BEKASI
13      JEKI      L      2021       pendek                60         JAKSEL
20      IMAM      L      2020       tinggi                60         JAKSEL
24     DEMAS      L      2023       tinggi                60         JAKBAR
16     JAWAN      L      2019       tinggi                60        TANGSEL
29     QUSOY      L      2023       tinggi                66         BEKASI
4      PUPUT      P      2020       tinggi                70        TANGSEL
2       DEWA      L      2023       pendek                88         JAKSEL
12     PURBA      L      2023       tinggi                89         JAKBAR
1      FELIX      L      2023       pendek                99         JAKBAR

    Jurusan Fakultas
10  Infor20      FTI
7   Infor20      FTI
5   Infor20      FTI
18  Infor20      FTI
21  Infor20      FTI
8   Infor20      FTI
17  Infor20      FTI
9   Infor20      FTI
26  Infor20      FTI
23  Infor20      FTI
28  Infor20      FTI
15  Infor20      FTI
25  Infor20      FTI
11  Infor20      FTI
27  Infor20      FTI
19  Infor20      FTI
22  Infor20      FTI
0   Infor20      FTI
14  Infor20      FTI
6   Infor20      FTI
3   Infor20      FTI
13  Infor20      FTI
20  Infor20      FTI
24  Infor20      FTI
16  Infor20      FTI
29  Infor20      FTI
4   Infor20      FTI
2   Infor20      FTI
12  Infor20      FTI
1   Infor20      FTI